@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition: all 0.2s ease;
}

@layer base {
  * {
    scroll-behavior: smooth;
  }

  html {
    font-size: 62.5%;
  }

  body {
    color: #000000;
    line-height: 1.6;
    font-size: 1.6rem;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    font-family: "Playfair Display", serif;
  }

  * {
    font-family: inherit;
  }

  img {
    height: auto;
    display: block;
    max-width: 100%;
  }

  main {
    margin-left: auto;
    max-width: 1800px;
    margin-right: auto;
  }

  .word-spacing {
    word-spacing: 0.9rem;
  }
}

@layer components {
  .transition-smooth {
    transition: var(--transition);
  }

  .px-container {
    padding-left: clamp(1.5rem, 4vw, 3rem);
    padding-right: clamp(1.5rem, 4vw, 3rem);
  }

  .max-w-container {
    max-width: 1800px;
  }

  /**===================
   * CUSTOM SCROLLBAR
   ===================*/
  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-600;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-black;
  }

  ::selection {
    @apply text-white bg-black;
  }
}
